.offer__slider #current, .menu__item-subtitle {
  background: linear-gradient(139.19deg, #FFFFFF -81.69%, #0DA03F 46.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #252525;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  background: #252525;
}

.header__links {
  max-width: 600px;
  margin: 6px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  text-decoration: none;
  color: #C4C4C4;
  font-size: 16px;
}

.header__link:hover {
  color: #fff;
}

.preview {
  background-image: url(/img/tabs/0.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tabheader__block {
  padding: 200px 0;
}

.tabheader {
  background-color: rgba(37, 37, 37, 0.9);
  max-width: 600px;
  border-radius: 10px;
  padding: 25px 30px;
  margin-bottom: 20px;
}

.tabheader__items {
  margin-top: 30px;
  padding-left: 25px;
  border-left: 1px solid #fff;
}

.tabheader__item {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
  color: #C4C4C4;
  cursor: pointer;
}

.tabheader__active {
  font-weight: 600;
  position: relative;
  color: #5DD887;
}

.tabheader__active div {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.tabheader__active::before {
  position: absolute;
  content: '';
  height: 30px;
  width: 3px;
  background: #fff;
  left: -25px;
}

.choose-tariff__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 20px;
  margin-left: 30px;
  background: linear-gradient(139.19deg, #FFFFFF -81.69%, #0DA03F 46.16%);
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.description-meal {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 5%;
  right: 6%;
}

.offer {
  margin: 100px 0 60px 0;
}

.offer .container {
  position: relative;
}

.offer #plate {
  position: absolute;
  right: -3%;
  top: -25%;
}

.offer__text {
  width: 65%;
}

.offer__descr {
  margin-top: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.offer__slide img {
  display: block;
  border-radius: 10px;
}

.offer__slider-wrapper {
  position: relative;
}

.offer__slider-wrapper .slide-desc {
  position: absolute;
  font-size: 24px;
  bottom: 0;
  left: 0;
  width: -webkit-fill-available;
  overflow: hidden;
  background-color: rgba(37, 37, 37, 0.9);
  padding: 10px 25px;
  border-radius: 0 0 10px 10px;
}

.advantages {
  padding: 65px 0 60px 0;
  background-color: #141414;
}

.advantages .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__advantages {
  width: 37%;
}

.offer__advantage {
  background-color: #252525;
  padding: 25px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.offer__advantage img {
  margin-right: 10px;
}

.offer__advantage-text {
  margin-top: 8px;
  font-weight: 300;
}

.offer__slider-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  margin-top: 10px;
}

.offer__slider-nums {
  margin: 0 15px;
}

.offer__slider #current {
  font-size: 48px;
}

.calculating {
  background-image: url(../img/calculate_bg.jpg);
  color: #000;
  padding: 50px 0 80px 0;
}

.calculating h2 {
  text-align: center;
}

.calculating__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculating__subtitle {
  margin-top: 30px;
}

.calculating__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 16px;
}

.calculating__choose input {
  width: 30%;
  margin: 0;
}

.calculating__choose-item {
  padding: 12px 44px;
  border: 1px solid #5DD887;
  border-radius: 10px;
  margin-right: 20px;
}

.calculating__choose-item:last-child {
  margin-right: 0;
}

.calculating__choose-item_active {
  background: #5DD887;
  color: #fff;
}

.calculating #gender {
  border: 1px solid #5DD887;
  border-radius: 10px;
}

.calculating #gender .calculating__choose-item {
  border: none;
  border-right: 1px solid #5DD887;
  margin-right: 0;
}

.calculating #gender .calculating__choose-item:last-child {
  border-right: none;
}

.calculating__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  margin-top: 100px;
}

.calculating__total h4 {
  margin: 0;
  padding: 24px 22px;
}

.calculating__result {
  font-size: 24px;
  font-weight: 500;
  background: linear-gradient(139.19deg, #FFFFFF -81.69%, #0DA03F 46.16%);
  color: #fff;
  border-radius: 10px;
  padding: 10px 30px;
}

.calculating__result span {
  font-size: 48px;
  font-weight: 600;
}

.menu {
  padding: 100px 0 50px;
}

.menu h2 {
  text-align: center;
}

.menu__field {
  margin-top: 50px;
}

.menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  border-radius: 10px;
  background: #fff;
  color: #000;
  width: calc(80% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__image {
  height: 215px;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}

.menu__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.menu__item-content {
  padding: 20px 20px 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item-subtitle {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.menu__item-descr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
}

.menu__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 18px;
}

.menu__item-price span {
  font-size: 24px;
}

.menu__item-cost {
  border: 1px solid #5DD887;
  border-radius: 10px 0px 0px 10px;
  width: 50%;
  padding: 10px 0;
  text-align: center;
}

.menu__item-total {
  background: #5DD887;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  width: 50%;
  text-align: center;
  padding: 7.6px 0;
}

.promotion {
  background: #141414;
  padding: 60px 0 80px;
}

.promotion .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.promotion__descr p {
  width: 50%;
}

.promotion__salenum {
  font-weight: 600;
  font-size: 44px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(13, 160, 63, 0.4);
}

.promotion__timer {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px 30px;
}

.promotion__timer h2 {
  color: #5DD887;
}

.promotion__timer .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.promotion__timer .timer__block {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #5DD887;
  border-radius: 10px;
  padding: 20px 0;
  position: relative;
  width: 21%;
}

.promotion__timer .timer__block::after {
  content: ':';
  position: absolute;
  right: -23%;
  top: 15%;
  font-size: 64px;
  font-weight: 600;
  color: #141414;
}

.promotion__timer .timer__block:last-child::after {
  content: '';
}

.promotion__timer span {
  font-weight: 600;
  font-size: 64px;
  color: #fff;
}

#end-prom {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: -15%;
  left: 0;
}

.order {
  background: #141414;
  padding-bottom: 115px;
  position: relative;
}

.order__image {
  position: absolute;
}

.order__image.left {
  left: -10%;
  top: -15%;
}

.order__image.right {
  right: 0;
  top: -10%;
}

.order .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 40px;
}

.order__form .btn {
  background: linear-gradient(139.19deg, #FFFFFF -81.69%, #0DA03F 46.16%);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  margin-top: 10px;
}

.order__input {
  background: #252525;
  border: 1px solid #5DD887;
  border-radius: 10px;
  padding: 15px 15px 15px;
  margin-bottom: 20px;
}

.order__input:active, .order__input:focus, .order__input:visited {
  background: #fff;
  color: #000;
}

.order #politicconf {
  margin-top: 10px;
  color: #535353;
  font-size: 10px;
}

.order #politicconf a {
  text-decoration: underline;
  color: #0DA03F;
}

.footer {
  padding: 50px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .socials {
  margin-bottom: 20px;
}

.footer .socials a {
  text-decoration: none;
  margin-right: 16px;
}

.footer .politic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__right nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__right .info {
  margin-bottom: 16px;
}

.footer a {
  color: #E5E5E5;
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__dialog {
  max-width: 400px;
  margin: 40px auto;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__title {
  color: #000;
  padding-bottom: 30px;
  text-align: center;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form h3 {
  text-align: center;
}

.modal__form .btn {
  background: linear-gradient(139.19deg, #FFFFFF -81.69%, #0DA03F 46.16%);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  margin-top: 10px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.status {
  color: #5DD887;
  opacity: 1;
  font-weight: 600;
  text-align: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #5DD887;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
