.preview {
	background-image: url(../img/tabs/0.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	transition: all 0.5s ease;
}

.tabheader__block {
	padding: 200px 0;
}

.tabheader {
	background-color: rgba(37, 37, 37, 0.9);
	max-width: 600px;
	border-radius: 10px;
	padding: 25px 30px;
	margin-bottom: 20px;

	&__items {
		margin-top: 30px;
		padding-left: 25px;
		border-left: 1px solid #fff;
	}

	&__item {
		margin-top: 20px;
		font-size: 22px;
		font-weight: 400;
		color: $lightGrey;
		cursor: pointer;
	}

	&__active {
		font-weight: 600;
		position: relative;
		color: $lightGreen;

		div {
			font-weight: 300;
			font-size: 16px;
			color: #fff;
			margin-top: 10px;
		}

		&::before {
			position: absolute;
			content: '';
			height: 30px;
			width: 3px;
			background: #fff;
			left: -25px;
		}
	}
}

.choose-tariff {
	&__btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 13px 20px;
		margin-left: 30px;

		background: linear-gradient(139.19deg, #FFFFFF -81.69%, #0DA03F 46.16%);
		border-radius: 8px;
		border: none;

		font-weight: 500;
		font-size: 22px;

		color: #fff;

		cursor: pointer;
	}
}

.description-meal {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);

	position: absolute;
	bottom: 5%;
	right: 6%;
}