.footer {
	padding: 50px 0;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.socials {
		margin-bottom: 20px;
		a {
			text-decoration: none;
			margin-right: 16px;
		}
	}

	.politic {
		display: flex;
		flex-direction: column;
	}

	&__right {
		nav {
			display: flex;
			flex-direction: column;
		}
		.info {
			margin-bottom: 16px;
		}
	}

	a {
		color: #E5E5E5;
		margin-bottom: 10px;
	}
}