.offer {
	margin: 100px 0 60px 0;
	.container {
		position: relative;
	}
	#plate {
		position: absolute;
		right: -3%;
		top: -25%;
	}
	&__text {
		width: 65%;
	}

	&__descr {
		margin-top: 30px;

		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
	}
}
