%greenDark {
	background: linear-gradient(139.19deg, #FFFFFF -81.69%, #0DA03F 46.16%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

$lightGrey: #C4C4C4;
$mainGrey: #252525;
$darkGrey: #141414;
$lightGreen: #5DD887;