.advantages {
	padding: 65px 0 60px 0;
	background-color: #141414;


	.container {
		display: flex;
		justify-content: space-between;
	}
}

.offer {
	&__advantages {
		width: 35%;
	}

	&__advantage {
		background-color: $mainGrey;
		padding: 25px;
		border-radius: 10px;
		display: flex;
		align-items: flex-start;

		margin-bottom: 30px;

		img {
			margin-right: 10px;
		}
	}

	&__advantage-text {
		margin-top: 8px;
	}

	&__slider-counter {
		display: flex;
		align-items: center;
		font-size: 36px;

		margin-top: 10px;
	}

	&__slider-nums {
		margin: 0 15px;
	}

	&__slider {
		#current {
			font-size: 48px;
			@extend %greenDark;
		}
	}
}
