$lightGrey: #C4C4C4;
$mainGrey: #252525;
$lightGreen: #5DD887;

%greenDark {
	background: linear-gradient(139.19deg, #FFFFFF -81.69%, #0DA03F 46.16%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: $mainGrey;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h2 {
	font-weight: 600;
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

@import 'header.scss';
@import 'preview.scss';
@import 'offer.scss';
@import 'advantages.scss';
@import 'calculating.scss';
@import 'menu.scss';